<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3308/ahmedadelddb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.example.travl.models.BookingService" />
        <mapping class="com.example.travl.models.Hotel" />
        <mapping class="com.example.travl.models.Flight" />
        <mapping class="com.example.travl.models.User"/>
        <mapping class="com.example.travl.models.Role"/>
        <mapping class="com.example.travl.models.Permission"/>
    </session-factory>
</hibernate-configuration>