.side-bar, .nav-bar {
    -fx-background-color: white;
}
.nav-bar-search {
    -fx-min-height: 40px;
}

.parent{
-fx-background-color:#F5F5F7;
}

.sidebar{
-fx-background-color:#2D3039;
}

.sidebar-btn{
-fx-background-color:transparent;

}
.sidebar-btn:hover{
-fx-background-color:#258ED9;
-fx-border-width:0px 0px 0px 2px;

}

.paneCard_1{
-fx-background-color:#fff;
-fx-border-width:2px 2px 2px 2px;
-fx-border-radius:15px;
-fx-background-radius:15px;



-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 1.5);

}

.details{
-fx-background-color:#125946;
-fx-background-radius:15px;
}


.pane_card2{
-fx-background-color:#125946;
-fx-border-width:2px 2px 2px 2px;
-fx-border-radius:15px;
-fx-background-radius:15px;

}



@media screen and (max-width: 768px) {
    .parent {
        -fx-padding: 10px;
    }

    .sidebar {
        -fx-padding: 10px;
    }

    .paneCard_1 {
        -fx-border-radius: 5px;
        -fx-background-radius: 5px;
    }
}