.root {
    -fx-background-color: #f7e5e3;
}

.left-section {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
}

.welcome-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.description-text {
    -fx-font-size: 14px;
    -fx-text-fill: #96a0af;
}

.form-container {
    -fx-background-color: #f7e5e3;
    -fx-padding: 30px;
    -fx-border-radius: 10px;

}

.form-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;


}

.form-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5px;
    -fx-padding: 8px;
}

.sign-in-button {
    -fx-background-color: #e23429;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.sign-in-button:hover {
    -fx-background-color: #c2362d;
    -fx-cursor: HAND;
}

.check-box {
    -fx-text-fill: #000000;
}

.signup-link {
    -fx-text-fill: #e23429;

}
